.widget {
  width: 1485px;
  margin: 12px;
  font-size: 12px;
  line-height: 1.5;
}

.buttons {
  margin: 8px 0;
}

.start, .length {
  width: 50px;
}

.widget pre {
  margin: 0;
  padding: 0;
  background: inherit;
  border: none;
  font-size: 12px;
}

.monitor pre {
  font-size: 17px;
}

.code {
  margin: 2px 5px 0 0;
  padding: 6px;
  border: 1px solid black;
  width: 600px;
  height: 880px;
  font-family: monospace;
  font-size: 15px;
  overflow: auto;
}

.screen {
  float: right;
}

.debugger {
  margin-top: -125px;
  border: 1px black solid;
  padding: 3px;
  padding-top: 8px;
  height: 185px;
  width: 312px;
  font-size: 14px;
  text-align: center;
  float: right;
  clear: right;
}

.minidebugger {
  margin: 0;
  margin-top: 6px;
  padding: 0;
  font-family: monospace;
  font-size: 20px;
}

.monitorControls {
  width: 425px;
  margin-bottom: 10px;
  margin-left: 120px;
  padding: 0;
  float: left;
  font-size: 14px;
}

.monitorControls input {
  margin-right: 0.5em;
}

.monitor {
  padding: 6px;
  border: 1px solid #999;
  background-color: #ddd;
  width: 525px;
  height: 437px;
  overflow: auto;
  float: left;
  clear: both;
}

.messages {
  margin: 5px 5px 0 0;
  padding: 6px;
  border: 1px solid #999;
  background-color: #eee;
  overflow: auto;
  width: 525px;
  height: 424px;
  text-align: left;
  font-size: 11px;
  color: #444;
  float: left;
  clear: both;
}
