.widget {
  width: 1498px;
  margin: 10px;
  font-size: 12px;
  line-height: 1.5;
}

.header {
  height: 21px;
  width: 1121px;
}

.start, .length {
  width: 50px;
}

.widget pre {
  margin: 0;
  padding: 0;
  background: inherit;
  border: none;
}

#tooltip {
    background-color:white;
    border:1px solid black;
    position:absolute;
    left:-200px;
    top:100px;
}

.monitor pre {
  font-size: 17px;
}

.code {
  padding: 6px;
  margin-top: 10px;
  border: 1px solid black;
  width: 600px;
  height: 880px;
  font-family: monospace;
  font-size: 15px;
  overflow: auto;
}

.screen {
  float: right;
  clear: right;
  padding: 10px;
}

.debugger {
  border: 1px black solid;
  padding: 8px;
  padding-top: 8px;
  height: 185px;
  width: 312px;
  font-size: 14px;
  text-align: center;
  float: right;
  clear: right;
}

.minidebugger {
  margin: 0;
  margin-top: 6px;
  padding: 0;
  font-family: monospace;
  font-size: 22px;
}

.monitorControls {
  width: 277px;
  float: left;
  margin: 0 160px 0 108px;
  padding: 0;
  font-size: 14px;
}

.monitorControls input {
  margin-right: 0.5em;
}

.monitor {
  margin-top: 10px;
  padding: 6px;
  border: 1px solid #999;
  background-color: #ddd;
  width: 525px;
  height: 537px;
  overflow: auto;
  float: left;
  clear: left;
}

.messages {
  margin: 5px 5px 0 0;
  padding: 6px;
  border: 1px solid #999;
  background-color: #eee;
  overflow: auto;
  width: 525px;
  height: 324px;
  text-align: left;
  font-size: 11px;
  color: #444;
  float: left;
  clear: left;
}
